body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 24px;
}

h1,
p {
    margin: 0;
}

button {
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 100px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    border: 2px solid red;
}

input{
    font-size: 18px;
    border: 2px solid lightgray;
    border-radius: 100px;
    padding: 1px 6px;
}

input[type="range"]{
    accent-color: red;
    padding: 0px;
    border: 0px;
    width: 200px;
    
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}

.checkDiv{
    display: flex;
    margin: 2px;
}

.check, .checked{
    border: 2px solid lightgray;
    border-radius: 100px;
    padding: 1px 6px;
}

.check:hover, .checked:hover{
    border: 2px solid black;
}

.checked{
    border: 2px solid red;
}

input[type="file"] {
    display: none;
    /* border: 5px solid green;
    border-radius: 100px;
    padding: 2px; */
}

.fileLoad {
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    color: black;
}

.fileLoadBtn {
    background-color: red;
    border-radius: 100px;
    /* color: black; */
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 1px 6px;
}

.fileLoadLabel {
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    padding: 1px 6px;

}

.sidebar {
    background-color: rgb(239, 239, 239);
    display: inline-block;
    min-width: 450px;
    max-width: 600px;
    position: fixed;
    padding: 10px 10px;
    margin: 10px;
    top: 0;
    left: 0;
    Border: 5px solid lightgray;
    border-radius: 25px;
    border-width: auto;
}

.deler {
    position: relative;
}

.deler::before {
    content: "";
    position: absolute;
    left: -32%;
    top: -10%;
    /* directly below the element */
    width: 24px;
    /* adjust size as needed */
    height: 24px;
    background: red;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}

.Selector>* {
    margin: 2px;
}

.main {
    padding: 50px;
    margin-left: 650px;
}

.HistoryTable table,
th,
td {
    padding: 10px;
    text-align: center;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-collapse: collapse;
}

[hidden] {
    display: none !important;
}